/* Ici, on fait heriter à toutes les balises de ces attributs (reset, on casse l'heritage de marges imposées par le browser pour celles qui peuvent etre concernées) */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Juste un exemple de selection multiple */
h1, p, div {
    text-align: center;
}

h1 {
    color: red;
    /* Comme on peut le voir sur ce margin, les attributs herités sont surchargés */
    margin-left: 50px;
    width: 200px;
}

p {
    color: green;
}

span {
    color: yellow;
    text-align: left;
    background: greenyellow;
    margin: 10px 9px 8px 7px; /* marge exterieure du bloc, haut droite bas gauche */
    padding: 10px 9px 8px 7px /* marge interieure du bloc, idem */
    /* si on mettait padding 10px 9px, cela donnerais 10 haut et droite, 9 bas et gauche
    si on ne mettait que 10px, ce serait 10 tout autour */
}

div {
    color: blue;
    background-color: antiquewhite;
}