* {
    margin: 0;
    padding: 0;
}

p {
    color: black;
    margin-left: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.main {
    display: flex;
    min-height: 600px;
    width: 100%;
}

.sideleft {
    background-color: green;
    flex: 1;
}

.sideright {
    background-color: purple;
    flex: 1;
}

.bottom {
    height: 300px;
    background-color: yellow;
}