* {
    margin: 0;
    padding: 0;
}

p {
    color: black;
    margin-left: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.main {
    min-height: 600px;
    width: 100%;
}

.head {
    background: turquoise;
    height: 100px;
}

.menu {
    background: purple;
    height: 50px;
}

.midcont {
    display: flex;
    height: 500px;
    padding: 20px;
}

.middle {
    background-color: green;
    flex: auto;
}

.bottom {
    height: 100px;
    background-color: turquoise;
    margin-top: 0;
}