body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: lightslategrey;
}

h1 {
    text-align: center;
}

/* labels stylisés */
label {
    float: left;
    width: 200px;
}

textarea {
    resize: none; /* Ici, on fixe la taille de la zone de texte */
}