nav ul li { /* sans virgule, l'ascendance des elements est suivie, ici : li dans l'ul de nav */
    float: left;
    list-style: none;
}

nav ul ul {
    display: none; /* permet de cacher les sous-menus de l'ul de l'ul de nav */
    width: 150px;
}

nav li { /* Ici, nav li est le bandeau principal du menu */
    background: lightgrey;
}

nav li a {
    text-decoration: none; /* enleve le surlignement des liens a */
    color: black;
    padding: 4px 0 4px; /* 4 en haut, 0 a droite, 4 en bas */
    display: block; /* transformation des elements liens en blocs (les a sont par defaut de type inline ->) */
    width: 150px;
}

nav ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

nav ul.niveau1 li.sousmenu:hover ul.niveau2 { /* affiche un element (ul.niveau2) sur un hover des element li.sousmenu présents dans le nav -> classe ul.niveau1 */
    display: block; /* Au survol de la souris sur les sous-menus, on transforme donc les listes en blocs, c'est ce qui les fait apparaitre les uns en dessous des autres */
}

nav li:hover { /* Ici, nav li est le bandeau principal du menu */
    background: wheat;
}

nav li.sousmenu:hover {
    background: wheat;
}