* {
    margin: 0px;
    padding: 0px;
}

p {
    display: table; /* simule le comportement d'un tableau à colonnes */
    border: solid red ;
}

span {
    display: table-cell; /* ici, on affecte les balises span comme etant des cellules (cases) d'un tableau */
    vertical-align: middle; /* on aligne les cellules au milieu */
}

img {
    margin: 0 20px 0 0; /* On marge les images pour le visuel */
}